.footer {
    --pd-social: 6px;
    --pd-menu: 10px;

    margin-top: 120px;
    padding-top: 56px;
    padding-bottom: 32px;
    background: var(--blue-color);
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-social {
            display: flex;
            margin-right: calc(-1 * var(--pd-social));
            a {
                display: inline-block;
                padding: 0 var(--pd-social);
                @include transition("opacity var(--duration)");
                transition-timing-function: var(--cubic);
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    &__center {
        padding-top: 92px;
        padding-bottom: 125px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: space-between;
        &-left {
            max-width: 300px;
            width: 100%;
            .label {
                font-family: dsb;
                text-transform: uppercase;
                font-size: var(--fz-label);
                line-height: var(--lh-label);
                letter-spacing: var(--ls-label);
                padding-bottom: 31px;
                border-bottom: 1px solid var(--white-color);
            }
            .list {
                margin: calc(35px + -1 * var(--pd-menu)) 0 0
                    calc(-1 * var(--pd-menu));
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                column-gap: 115px;
                .item {
                    white-space: nowrap;
                    font-size: var(--fz-text-menu);
                    line-height: var(--lh-text-menu);
                    letter-spacing: var(--ls-text-menu);
                    color: var(--white-color);
                    text-transform: uppercase;
                    padding: var(--pd-menu);
                    position: relative;
                    &:hover {
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 8px;
                        translate: -50% 0;
                        background: var(--white-color);
                        width: calc(100% - var(--pd-menu) * 2);
                        height: 1px;
                        transform: scaleX(0);
                        @include transition("transform var(--duration)");
                        transition-timing-function: var(--cubic);
                    }
                }
            }
        }
        &-right {
            max-width: 486px;
            background: rgba(255, 255, 255, 0.1);
            padding: 44px 34px;
            border-radius: 40px;
            .label {
                font-size: var(--fz-label);
                line-height: var(--lh-label);
                letter-spacing: var(--ls-label);
                text-transform: uppercase;
                font-family: dsb;
            }
            .desc {
                margin-top: 12px;
            }
            .btngroup {
                margin-top: 24px;
                img {
                    margin-right: 8px;
                }
            }
        }
    }
    &__bottom {
        --fz-copy: 1.6rem;
        --lh-copy: 1.625;
        --ls-copy: 0rem;
        padding-top: 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &-copy {
            font-size: var(--fz-copy);
            line-height: var(--lh-copy);
            letter-spacing: var(--ls-copy);
        }
        &-gotop {
            @include mid(true);
            background: var(--primary-color);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: fixed;
            bottom: -100%;
            z-index: 200;
            @include transition("bottom var(--duration)");
            img {
                @include transition("transform var(--duration)");
            }
            &:hover {
                img {
                    transform: translateY(-3px);
                }
            }
            &.--active {
                bottom: 20px;
            }
        }
    }
    @include sm {
        &__center {
            padding-bottom: 32px;
            gap: 30px;
            &-left {
                max-width: 240px;
                .list {
                    column-gap: 60px;
                }
            }

            &__bottom {
                justify-content: center;
                --fz-copy: 1.4rem;
                --lh-copy: 1.857;
            }
        }
    }

    @include xs {
        padding-top: 40px;
        margin-top: 80px;
        &__center {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 32px;
            gap: initial;

            &-right {
                margin-top: 56px;
                width: 100%;
                max-width: 100%;
            }
        }
        &__top {
            gap: 24px;
            flex-direction: column;
            align-items: center;
        }
        &__center {
            padding-top: 45px;
            .textbox {
                .btngroup {
                    flex-direction: column;
                    .btn {
                        width: 100%;
                    }
                }
            }
            &-left {
                max-width: initial;
            }
        }
        &__bottom {
            padding-top: 26px;
        }
    }
}
