.pagenotfound {
    .main {
        .schero {
            --fz-404: 18rem;
            --lh-404: 0.89;
            --ls-404: 0rem;

            overflow: hidden;
            position: relative;
            text-align: center;
            height: 100vh;
            @include mid(true);
            .container {
                @include mid(true);
            }
            .textbox {
                max-width: 560px;
                .btngroup {
                    margin-top: 40px;
                    justify-content: center;
                }
            }
            &__404 {
                color: var(--primary-color);
                font-family: dsb;
                font-size: var(--fz-404);
                line-height: var(--lh-404);
                letter-spacing: var(--ls-404);
            }
            &__blur {
                max-width: initial;
                z-index: -1;
                position: absolute;
            }
            @include xs {
                --fz-404: 12rem;
                --lh-404: 1;
                &__title {
                    margin-top: 28px;
                }
                .textbox {
                    max-width: 100%;
                    .btngroup {
                        margin-top: 32px;
                        flex-direction: column;
                        .btn {
                            width: 100%;
                        }
                    }
                }
                &__blur {
                    max-width: 300%;
                }
                @include landscape {
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding-top: var(--height-header);
                    display: block;
                    &__blur {
                        max-width: 200%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
