.pricing {
    .main {
        .schero {
            --fz-price: 42px;
            --lh-price: 1.31;
            --ls-price: 0;

            padding-top: calc(var(--height-header) + 40px);
            .container {
                & > .textbox {
                    max-width: 568px;
                }
            }
            &__icons {
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 38px;
                &-item {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    .icon {
                        flex-shrink: 0;
                        border-radius: 20px;
                        background: var(--primary-color);
                        width: 68px;
                        height: 68px;
                        padding: 13px 12px;
                        @include mid(true);
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            &__pricinglist {
                margin-top: 56px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: var(--gutter);
                &-item {
                    background: var(--blue-color);
                    border-radius: 40px;
                    padding: 48px 30px 42px;
                    .price {
                        margin-top: 16px;
                        font-family: var(--font-bold);
                        font-size: var(--fz-price);
                        line-height: var(--lh-price);
                        letter-spacing: var(--ls-price);
                    }
                    .desc {
                        margin-top: 16px;
                    }

                    .features {
                        margin-top: 40px;
                        &__title {
                            font-family: var(--font-bold);
                            text-transform: uppercase;
                        }
                        &__text {
                            margin-top: 5px;
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            &::before {
                                content: "";
                                display: inline-block;
                                height: 6px;
                                width: 6px;
                                border-radius: 50%;
                                background: var(--primary-color);
                                transform: translateY(-1px);
                            }
                        }
                    }
                    .btn {
                        margin-top: 54px;
                        width: 100%;
                    }
                }
            }
            @include sm {
                padding-top: calc(var(--height-header) + 48px);

                .container {
                    & > .textbox {
                        max-width: 100%;
                        margin: 0;
                        text-align: left;
                    }
                }
                &__icons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                &__pricinglist {
                    grid-template-columns: 1fr;
                }
            }
            @include xs {
                &__icons {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
    .footer {
        margin-top: 225px;
        @include sm {
            margin-top: 80px;
        }
    }
}
